<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .navbar {
      width: 100%;
      background-color: #22196b;
      height: 80px;
    }

    /* Navbar links */
    .navbar a {
      float: left;
      text-align: center;
      padding: 20px;
      color: white;
      text-decoration: none;
      font-size: 23px;
      margin-top: 7px;
      margin-left: 12px;
    }

    .navbar img {
      margin-top: 10px;
      margin-left: 12px;
      float: left;
      height: 60px;
      width: 140px;
    }

    .navbar a:hover {
      background-color: red;
    }

    #Profile {
      float: right;
      margin-right: 23px;
    }

    #Profile button {
      background-color: rgb(30, 30, 132);
      color: white;
      font-size: 18px;
      padding: 6px;
      margin-top: 21px;
      border: 2px solid #e0e0e0;
    }

    .upper {
      background-color: rgb(232, 238, 240);
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      margin-top: 12px;
      overflow: auto;
      min-height: 500px;
      max-height: 500px;
      padding: 10px;
    }

    /* .lower {
      background-color: rgb(232, 238, 240);
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      overflow: auto;
      margin-top: 20px;
      min-height: 310px;
      max-height: 310px;
      padding: 10px;
    } */

    #registration {
      font-family: Montserrat bold;
      border-collapse: collapse;
      overflow: hidden;
      width: 100%;
    }

    #registration td,
    #registration th {
      border: 2px solid #ddd;
      padding: 8px;
      overflow: auto;
    }

    #registration tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #registration tr:hover {
      background-color: #ddd;
    }

    #registration th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #233789;
      color: white;
      font-size: 17px;
    }
  </style>


</head>

<body>
  <div class="navbar">
    <img src="techAsia-LOGO_horizontal1028.png" alt="">
    &nbsp &nbsp;
    <a href="http://localhost:3000/user-profile"><i class="fa fa-fw fa-user"></i>Profile</a>
    &nbsp &nbsp;
    <a href="#"><i class="fa fa-fw fa-calculator"></i>Activity</a>
    &nbsp &nbsp;
    <a href="http://localhost:3000/graph"><i class="fa fa-fw fa-pie-chart"></i>Graphs</a>

    <form id="Profile" action="/logout" method="GET" enctype="text/plain">
      <button>Logout</button>
    </form>
  </div>
  <div class="container">
    <div class="upper">
      <table class="table" id="registration">
        <thead>
          <tr>
            <th>Count</th>
            <th>Session Duration</th>
            <th>MAC ID</th>
            <th>Time</th>
            <th>Date</th>

          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr>
              <td>
                <%= user.count %>
              </td>
              <td>
                <%= user.session_time %>
              </td>
              <td>
                <%= user.mac_id %>
              </td>
              <td>
                <%= user.time %>
              </td>
              <td>
                <%= user.date %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
    <!-- <div class="lower">
     
    </div> -->
  </div>

  <script>
    document.getElementById("Profile").addEventListener("click", async function (event) {

      fetch(`http://localhost:3000/logout`, {
        method: "POST", // Replace with the appropriate HTTP method
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then(response => response.json())
        .then(data => {
          // // Handle the API response data
          // console.log("Hulloo")
          console.log("Tata");
        })
        .catch(error => {
          // // Handle any errors that occurred during the API request
          console.log("Bubyee Error")

          console.error(error);
        });
    })
  </script>

</body>

</html>